<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Home V.2 – Collab – Online Learning Platform Template</title>
  <link rel="shortcut icon" href="/public/assets/images/logo/favourite_icon_1.svg">

  <!-- Framework - CSS Include -->
  <link rel="stylesheet" type="text/css" href="/public/assets/css/bootstrap.min.css">

  <!-- Icon Font - CSS Include -->
  <link rel="stylesheet" type="text/css" href="/public/assets/css/fontawesome.css">

  <!-- Animation - CSS Include -->
  <link rel="stylesheet" type="text/css" href="/public/assets/css/animate.css">

  <!-- Cursor - CSS Include -->
  <link rel="stylesheet" type="text/css" href="/public/assets/css/cursor.css">

  <!-- Carousel - CSS Include -->
  <link rel="stylesheet" type="text/css" href="/public/assets/css/slick.css">
  <link rel="stylesheet" type="text/css" href="/public/assets/css/slick-theme.css">

  <!-- Video & Image Popup - CSS Include -->
  <link rel="stylesheet" type="text/css" href="/public/assets/css/magnific-popup.css">

  <!-- Vanilla Calendar - CSS Include -->
  <link rel="stylesheet" type="text/css" href="/public/assets/css/vanilla-calendar.min.css">

  <!-- Custom - CSS Include -->
  <link rel="stylesheet" type="text/css" href="/public/assets/css/style.css">

</head>


<body>

  <!-- Body Wrap - Start -->
  <div class="page_wrapper">

    <!-- Back To Top - Start -->
    <div class="backtotop">
      <a href="#" class="scroll">
        <i class="far fa-arrow-up"></i>
      </a>
    </div>
    <!-- Back To Top - End -->

    <!-- Site Header - Start
      ================================================== -->
    <header class="site_header site_header_2">
      <div class="container">
        <div class="row align-items-center">
          <div class="col col-lg-3 col-5">
            <div class="site_logo">
              <a class="site_link" href="/">
                <img src="/public/assets/images/logo/site_logo.svg" alt="Collab - Online Learning Platform">
              </a>
            </div>
          </div>
          <div class="col col-lg-6 col-2">
            <nav class="main_menu navbar navbar-expand-lg">
              <div class="main_menu_inner collapse navbar-collapse justify-content-center" id="main_menu_dropdown">
                <ul class="main_menu_list unordered_list_center">
                  <li><a class="nav-link" href="/">Trang chủ</a></li>
                  <li><a class="nav-link" href="/courses">Khóa học</a></li>
                  <li><a class="nav-link" href="/about-us">Thông tin</a></li>
                  <li><a class="nav-link" href="/contact">Liên hệ</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- Site Header - End
      ================================================== -->